body {
    font-family: Arial, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f4f4f4;
    background-image: url('../img/—Pngtree—travel\ around\ the\ world\ background_2253108.png');
    background-position: fixed;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#nav-img-logo {
    max-width: 100px;
    height: auto;
}

#navbarNav {    
    justify-content: center;
}

.nav-item :hover {
    background-color: #b6b2b2;
    height: auto;
    border-radius: 5px;
}

.navbar-brand {
    margin: 0;
    padding: 15px;
}

.navbar {
    border-radius: 5px;
}

.nav-item {
    margin: 0 15px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    padding: 80px;
    text-align: center;
}

.slider {
    position: relative;
    max-width: 600px;
    margin: 50px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #555;
    border-radius: 5%;
}

.slide img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.slide {
    display: none;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

h2 {
    color: #fff;
    background-color: #333;
    border-radius: 5px;
}

p {
    color: #555;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 250px;
}

i {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 10px;
}

.card {
    text-align: left;
    text-indent: 1%;
    margin: 15px;
}

@media screen and (max-width: 768px) {
    body {
        background-position: center;
    }

    .navbar {
        margin: auto;
        height: auto;
    }

    .nav-link {
        width: 150px;
    }

    .nav-item {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    main {
        max-width: 100%;
        padding: 10px;
    }

    section {
        padding: 30px;
    }

    .slider {
        margin: 20px;
    }

    button {
        font-size: 16px;
        padding: 8px;
    }

    h2 {
        font-size: 24px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #333;
        color: #fff;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    section {
        padding: 20px;
    }

    .slider {
        margin: 10px;
    }

    button {
        font-size: 14px;
        padding: 6px;
    }

    p {
        font-size: 14px;
    }
}